version: '3.8'

services:
  db:
    # 일반 postgres가 아니라 '벡터 기능'이 포함된 특수 이미지입니다.
    image: pgvector/pgvector:pg15
    container_name: my_vector_db
    restart: always
    ports:
      - "5432:5432"  # 내 컴퓨터 포트 : 도커 내부 포트
    environment:
      POSTGRES_USER: postgres      # 아이디
      POSTGRES_PASSWORD: readsync  # 비밀번호 (원하는 대로 변경)
      POSTGRES_DB: LoRdb            # 데이터베이스 이름
      TZ: Asia/Seoul               # 한국 시간 설정
    volumes:
      # DB 껐다 켜도 데이터 안 날아가게 저장소 연결
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: